<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>OAuth 2.0 Client - non-blocking test</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    </head>
    <body>
        <div th:replace="templates::header"></div>
        <div class="container">
            <div class="page-header">
                <div style="float:right;">
                    <a target="_blank" th:href="@{https://github.com/jgrandja/oauth2-client-nonblock}">
                        <img th:src="@{/assets/img/github.png}">
                    </a>
                </div>
                <h1>OAuth 2.0 Client <small>non-blocking test</small></h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul>
                        <li><a href="#" th:href="@{/client-a}">Client A - authorization_code</a></li>
                        <li><a href="#" th:href="@{/client-b}">Client B - client_credentials</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <span th:text="${response}"></span>
                </div>
            </div>
        </div>
        <br />
        <div th:replace="templates::footer"></div>
        <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>